{% extends 'camera_index.html' %}

{% block main_content %}
<h3>
    Camera and detection settings
</h3>

<form method="POST" action="{{ url_for('update_camera', camera_id=camera.id) }}" class="mt-3">
    <div class="container">
        <img src="{% if camera.image_path %}/static/camera/reference_images/{{ camera.image_path }}{% else %}/static/images/default.jpg{% endif %}"
            class="card-img-top" alt="...">
        <a href="{{ url_for('fetch_camera_frame', camera_id=camera.id) }}" class="btn btn-secondary">Fetch frame from
            stream</a>
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ camera.name }}" class="form-control">
    </div>

    <div class="form-group">
        <label for="connection_url">Connection URL:</label>
        <input type="text" id="connection_url" name="connection_url" value="{{ camera.connection_url }}"
            class="form-control">
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" class="form-control">{{ camera.description }}</textarea>
    </div>

    <div class="form-group">
        <label for="state">Run stream and inference:</label>
        <input type="checkbox" id="state" name="state" {% if camera.state %}checked{% endif %} class="form-check-input">
    </div>

    <input type="hidden" id="line_points" name="line_points" value="{{ camera.get_line_points() | tojson }}">
    <input type="hidden" id="polygon_points" name="polygon_points" value="{{ camera.get_polygon_points() | tojson }}">

    <div class="form-group">
        <label for="alert_emails">Alert Emails (JSON):</label>
        <textarea id="alert_emails" name="alert_emails"
            class="form-control">{{ camera.get_alert_emails() | tojson }}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<style>
    img {
        max-height: 50vh;
        object-fit: contain;
    }
</style>

{% endblock %}